@model ASP.NET_CRUD_example_2.Models.RelAlumAsigDTO

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>RelAlumAsigDTO</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="RelAlumAsig_id" />
            <div class="form-group">
                <label asp-for="Alumno_id" class="control-label"></label>
                <select asp-for="Alumno_id" class="form-control" asp-items="ViewBag.Alumno_id"></select>
                <span asp-validation-for="Alumno_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Asignatura_id" class="control-label"></label>
                <select asp-for="Asignatura_id" class="form-control" asp-items="ViewBag.Asignatura_id"></select>
                <span asp-validation-for="Asignatura_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
